{{#post}}
    {{#match authors.length ">" 1 }}
        <div class="kg-canvas related-wrapper">
            <div class="kg-width-">
                <div class="related-content">
                    <h3 class="related-title">{{authors.length}} Titans recommend ‘{{title}}’</h3>
                    <div class="kg-grid kg-grid-4col">
                        {{#foreach authors from="2" to="all" include="count.posts" order="count.posts desc"}}
                            {{> author-card}}
                        {{/foreach}}
                    </div>
                </div>
            </div>
        </div>
    {{/match}}
{{/post}}