<div class="card-stack-wrapper">
    <div class="card-stack card-stack-1">
        <div class="u-placeholder vertical">

        </div>
    </div>
    <div class="card-stack card-stack-2">
        <div class="u-placeholder vertical">
            
        </div>
    </div>
    <div class="card-stack card-stack-3">
        <div class="u-placeholder vertical">
            
        </div>
    </div>
</div>