{{#if og_description}}
    <aside class="left-sidebar-container affilicate-card">
        <a class="sticky-wrapper" href={{og_description}} rel="noopener noreferrer" aria-label="View on Amazon">
            <div class="single-media-book-small">
                <img
                    src="{{img_url feature_image size="s"}}">
            </div>
            <div class="content-button-group">
                <h4 class="affiliate-book-title">{{title}}</h4>
                <div class="button button-primary">
                    <span class="default">Buy on Amazon</span>
                </div>
            </div>
        </a>
    </aside>
{{/if}}