<aside class="left-sidebar-container">
    <div class="sticky-wrapper">
        <div class="single-media-book-small">
            <img
                src="{{img_url feature_image size="s"}}">
        </div>
        {{!-- <h4 class="single-title kg-width-wide">{{title}}</h4> --}}
        <div class="content-button-group">
            <a  class="button button-primary"
                href="https://wizelit.com/"
                rel="noopener noreferrer" aria-label="View on Amazon">
                <span class="default">Buy on Amazon</span>
                {{> icons/arrow-right}}
            </a>
            <a  class="button button-secondary"
                href="https://wizelit.com/"
                rel="noopener noreferrer" aria-label="View on Amazon">
                <span class="default">Buy on Rakuten</span>
            </a>
        </div>
    </div>
</aside>