{{{html}}}

<section class="single-cta">
    {{#has visibility="paid"}}
        <h3 class="single-cta-title">This post is for paying subscribers only</h3>
    {{/has}}
    {{#has visibility="members"}}
        <h3 class="single-cta-title">This post is only for subscribers</h3>
        <p class="single-cta-desc">Subscribe to read the rest for free</p>
    {{/has}}
    {{#has visibility="filter"}}
        <h3 class="single-cta-title">This post is for subscribers on the {{products}} only</h3>
    {{/has}}
    {{#if @member}}
        <button class="button single-cta-button" data-portal="account/plans">Upgrade now</button>
    {{else}}
        <button class="button single-cta-button" data-portal="signup">Subscribe</button>
        <br>
        <button class="button-text single-cta-footer" data-portal="signin">Already a member? Log in</button>
    {{/if}}
</section>