{{#get "posts" filter="featured:true" limit="all" as |featured|}}
    {{#if featured}}
        <section class="kg-canvas">
            <div class="kg-width-wide">
                <div class="book-feed kg-grid kg-grid-4col">
                    {{#foreach featured}}
                        {{> card-horizontal}}
                    {{/foreach}}
                </div>
            </div>
        </section>
    {{/if}}
{{/get}}