{{#get "posts" filter="featured:true+tag:-atomic-essay" limit="3" as |featured|}}
    {{#if featured}}
        <header class="feed-header">
            <div class="feed-header-wrapper">
                <h2 class="feed-header-title"></h2>
            </div>
        </header>

        <div class="content-feed">
            {{#foreach featured}}
                    {{> "loop-featured"}}
            {{/foreach}}
        </div>

    {{/if}}
{{/get}}