{{#get "posts" limit="5" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
    {{#if related}}
        <section class="kg-canvas related-wrapper">
            <div class="related-content">
                <h3 class="related-title">Related</h3>
                <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} related-feed">
                    {{#foreach posts}}
                        {{> "loop"}}
                    {{/foreach}}
                </div>
            </div>
        </section>
    {{/if}}
{{/get}}