{{#get "posts" limit="6" include="authors" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
    {{#if related}}
        <section class="kg-canvas related-wrapper expanded">
            <div class="related-content">
                <h3 class="related-title">Similar <span class="book-page-visibility">books</span> </h3>
                <div class="blog-feed post-feed kg-grid kg-grid-2col kg-width-wide">
                    {{#foreach posts}}
                        {{> "card"}}
                    {{/foreach}}
                </div>
            </div>
        </section>
    {{/if}}
{{/get}}