{{#get "posts" limit="6" include="authors" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
    {{#if related}}
        <section class="kg-canvas related-wrapper">
            <div class="related-content">
                <h3 class="related-title">Similar <span class="book-page-visibility">books</span> </h3>
                <div class="kg-grid kg-grid-3col">
                    {{#foreach posts}}
                        {{> card-horizontal}}
                    {{/foreach}}
                </div>

            </div>
        </section>
    {{/if}}
{{/get}}