:root {
    --brand-color: var(--ghost-accent-color, #6c49b6);
    --primary-text-color: hsla(214,70%,4%,0.82);
    --secondary-text-color: hsla(0,0%,2%,0.55);
    --white-color: #fff;
    --lighter-gray-color: hsla(0,0%,12%,0.04);
    --light-gray-color: hsla(0,0%,2%,0.1);
    --mid-gray-color: hsla(0,0%,0%,0.2);
    --dark-gray-color: hsla(0,0%,1%,0.74);
    --darker-gray-color: hsla(204,71%,1%,0.92);
    --black-color: #000;
    --green-color: #28a745;
    --orange-color: #ffc107;
    --red-color: #dc3545;
    --facebook-color: #3b5998;
    --twitter-color: #1da1f2;
    --rss-color: #f26522;
    --animation-base: ease-in-out;
    --background-color: #f0edf6;
    --background-color-gradient: linear-gradient(180deg,transparent,hsla(0,0%,95%,.29) 47.39%,#fff),linear-gradient(90deg,#f9ddf1 .07%,#e5e1ff 16.73%,#daedff 34.48%,#e2f4e3 49.98%,#ebf5d8 66.12%,#faf2da 81.95%,#fbe5d8 99.9%);
    --divider-color: rgb(0 0 0 / 3%);
    --muted-background-color: rgb(250 250 250 / 40%);
    /* --font-base: sans-serif; */
    --font-base: Helvetica Now, Inter, IBM Plex Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, Inter, sans-serif;
    --font-serif: Domaine Text, Merriweather, Times, serif;
    --navbar-height: 96px;
    --border-separator: 2px solid var(--primary-text-color);
    /* fun shadow */
    --fun-box-shadow: 0 0 0 var(--primary-text-color,0) var(--primary-text-color),0 var(--primary-text-color,.375em) 0 0 var(--primary-text-color);
    --box-shadow-dreamy: 0px -8px 20px rgba(0, 0, 0, 0.03);
    /* custom color */
    --custom-color-one: #C7C8CA;
    --custom-color-two: #ACADCA;
    --custom-color-three: #EACA96;
    --custom-color-four: #A4BEB2;
    --custom-color-five: #A9BED3;
    --custom-color-six: rgb(13, 13, 13);
    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

:root.has-light-text {
    --primary-text-color: rgb(255 255 255 / 100%);
    --secondary-text-color: rgb(255 255 255 / 40%);
    --darker-gray-color: var(--primary-text-color);
}

@media (max-width: 767px) {
    :root {
        --navbar-height: 70px;
    }
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--primary-text-color);
    font-family: var(--font-base);
    font-size: 1.6rem;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    /* background-color: var(--background-color); */
    background: var(--background-color-gradient);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.with-custom-background {
    background-color: var(--background-color);
}

::selection {
    background: var(--brand-color);
    color:  var(--white-color);
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 0.1s var(--animation-base);
}

a:hover {
    opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--darker-gray-color);
    font-family: var(--font-base);
    line-height: 1.3;
    font-weight: 700;
    /* letter-spacing: -1px; */
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

blockquote:not([class]) {
    margin-right: 0;
    margin-left: 0;
    padding: 0 2.6rem;
    border-left: 4px solid var(--brand-color);
    color: var(--primary-text-color);
    font-size: 2rem;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: -0.03rem;
}

blockquote:not([class]) strong {
    font-weight: 400;
    color: var(--primary-text-color);
}

ul,
ol {
    padding-left: 2rem;
}

iframe,
embed {
    display: block;
    overflow: hidden;
    width: 100%;
    border: 0;
}

figure {
    margin-right: 0;
    margin-left: 0;
}

figcaption {
    margin-top: 1.5rem;
    color: var(--secondary-text-color);
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
}

figcaption a {
    color: var(--secondary-text-color) !important;
    font-weight: 400 !important;
}

pre {
    overflow-x: scroll;
    padding: 1.6rem 2.2rem;
    font-size: 1.6rem !important;
    line-height: 1.5;
    background-color: var(--darker-gray-color);
    border-radius: 8px !important;
    -webkit-overflow-scrolling: touch;
}

hr {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    border-top: 1px solid;
    height: 1px;
}

table:not(.highlight) {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;
    word-break: normal;
}

table:not(.highlight) thead {
    background-color: var(--lighter-gray-color);
}

table:not(.highlight) tr + table:not(.highlight) tr {
    border-top: 1px solid var(--light-gray-color);
}

table:not(.highlight) tr:hover td {
    background-color: var(--lighter-gray-color);
}

table:not(.highlight) th,
table:not(.highlight) td {
    padding: 1rem 1.5rem;
    line-height: 1.5;
}

table:not(.highlight) th {
    text-align: left;
}

table:not(.highlight) tfoot {
    border-top: 1px solid var(--mid-gray-color);
}

table:not(.highlight) tfoot td {
    font-weight: 700;
}

@media (max-width: 767px) {
    .table thead {
        display: none;
    }

    .table tr {
        display: block;
        padding: 1.2rem 0;
    }

    .table td {
        display: flex;
        justify-content: space-between;
        padding: 0.7rem 0;
        width: 100%;
        text-align: right;
    }

    .table td::before {
        content: attr(data-label);
        margin-right: 1rem;
        color: var(--secondary-text-color);
        white-space: nowrap;
    }
}
