.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    outline: none;
    border: 1px solid var(--mid-gray-color);
    color: var(--brand-color);
    font-family: var(--font-base);
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */
    background-color: var(--white-color);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s var(--ease-in-out-quad);
}

.button:hover {
    border-color: var(--darker-gray-color);
    opacity: 1;
}

.button svg {
    margin-left: 8px;
}

.button.button-primary {
    background-color: var(--darker-gray-color);
    color: var(--white-color);
    text-decoration: none;
}

.button.button-primary:hover {
    background-color: var(--dark-gray-color);
}

.button.button-secondary {
    color: var(--dark-gray-color);
    text-decoration: none;
}

.button.button-secondary:hover {
    color: var( --primary-text-color);
}

.content-button-group .button {
    margin-bottom: 12px;
    width: 100%;
}

.button-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    outline: none;
    border: 0;
    color: var(--darker-gray-color);
    background-color: transparent;
    cursor: pointer;
}

.button-icon:hover .icon {
    opacity: 0.8;
}

.button-text {
    padding: 0;
    outline: none;
    border: 0;
    color: var(--darker-gray-color);
    line-height: inherit;
    background-color: transparent;
    cursor: pointer;
}
