{{!< default}}
<div class="content-area">
    <main class="site-main">

        {{!-- {{> page-header}} --}}

        <section class="kg-canvas">
            <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}}">
                {{#foreach posts}}
                    {{> "loop-archive"}}
                {{/foreach}}
            </div>
            {{pagination}}
        </section>
    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}