{{!< default}}
<div class="content-area">
    <main class="site-main">
        
        {{> page-header}}

        <section class="kg-canvas">
            <div class="kg-width-full kg-site-margin">
                <div class="post-feed kg-grid kg-grid-book-col">
                    {{#foreach posts}}
                        {{> card-horizontal}}
                    {{/foreach}}
                </div>
                {{pagination}}
            </div>
        </section>

    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}