{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="narrow"}}
        {{/post}}
        {{#is "post"}}
            {{> comment}}
            {{> related-blog}}
        {{/is}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if @site.logo}}{{/if}}{{/contentFor}}