{{!< default}}

<div class="content-area">
    <main class="site-main">
        
        {{> page-header}}
        
        <div class="kg-canvas">
            <div class="kg-width-wide">
                <div class="post-feed kg-grid kg-grid-4col">
                    {{#foreach posts}}
                        {{> card-horizontal}}
                    {{/foreach}}
                </div>
                {{pagination}}
            </div>
        </div>

    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}