{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            {{> content width="wide"}}
        {{/post}}
        
        {{#is "post"}}
            {{> comment}}
            {{> related}}
            {{/if}}
        {{/is}}
    </main>
</div>

{{#contentFor "body_class"}}{{/contentFor}}