.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* overflow-x: hidden; */
}

.site-content {
    flex-grow: 1;
    padding: 8vmin 0;
}

.with-alt-header .site-content {
    padding-top: max(8vmin, 5rem);
}

.home-template.logged-in .site-content {
    padding-top: 3rem;
}
