.author-meta {
    margin-top: 0.5rem;
    color: var(--mid-gray-color);
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}

.author-social {
    justify-content: center;
    margin-top: 2.5rem;
}

.author-list {
    display: flex;
    align-items: center;
    margin: 16px 0 0 0;
}

.author-list .author-name {
    margin: 0 0 0 16px;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--dark-gray-color);
}

.author-list .author-name a {
    color: var(--dark-gray-color);
}

.author-list .author-image-placeholder {
    flex-shrink: 0;
    overflow: hidden;
    margin: 0;
    width: 28px;
    border: 2px solid var(--background-color);
    border-radius: 50%;
}

.author-name-label {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
}

.author-list-book {
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    align-self: center;
    flex-wrap: wrap;
}

.author-list-book .author-image-placeholder {
    flex-shrink: 0;
    overflow: hidden;
    margin: 0;
    width: 112px;
    height: 112px;
    border: 6px solid var(--background-color);
    border-radius: 50%;
    margin-left: -24px;
    position: relative;
}

.author-name-book {
    text-align: center;
    width: 100%;
    margin-top: 8px;
    color: var(--secondary-text-color);
}

/* author on post card */

.card-wrapper:hover .card-authors-wrapper .author-list-book .author-image-placeholder {
    opacity: 1;
}
.card-wrapper:hover .card-authors-wrapper .author-list-book .author-image-placeholder:not(:first-child) {
    margin-left: -12px;
}

.card-authors-wrapper {
    position: absolute;   
    bottom: 12px;
    left: 12px;
}

.card-authors-wrapper .author-list-book .author-image-placeholder {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid var(--white-color);
    background-color: var(--white-color);
    transition: opacity 0.2s var(--ease-in-out-quad), margin 0.4s var(--ease-bounce-back);
    opacity: 0;
}

.card-authors-wrapper .author-list-book .author-image-placeholder:not(:first-child) {
    margin-left: -32px;
}

.author-counter {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: -34px;
    color: var(--dark-gray-color);
    font-size: 1.8rem;
    margin-bottom: 2px;
}

.author-counter-label {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    font-style: italic;
    color: var(--secondary-text-color);
}

/* .has-serif-body .author-counter-label {
    font-family: var(--font-serif);
} */

.section-wrapper {
    margin-top: 8vmin;
}

@media (max-width: 767px) {
    .author-list-book .author-image-placeholder {
        width: 80px;
        height: 80px;
        margin-left: -16px;
    }

    .card-authors-wrapper {
        display: none;
    }
}
