
.tag-hash-not-book .kg-card.kg-bookmark-card {
    margin-bottom: 2rem;
}

.tag-hash-not-book .kg-card.kg-bookmark-card a.kg-bookmark-container,
.tag-hash-not-book .kg-card.kg-bookmark-card a.kg-bookmark-container:hover {
    border: none;
    overflow: visible;
}

.kg-card.kg-bookmark-card a.kg-bookmark-container {
    border-radius: 8px;
}

.tag-hash-not-book .kg-bookmark-card .kg-bookmark-content {
    padding: 0 20px 0 0;
}

.tag-hash-not-book .kg-bookmark-card .kg-bookmark-title {
    font-size: 2.2rem;
    margin-bottom: 8px;
}

.tag-hash-not-book .kg-bookmark-card .kg-bookmark-description {
    font-size: 1.8rem;
    -webkit-line-clamp: 4;
    max-height: fit-content;
    opacity: .8;
}

.has-serif-body .tag-hash-not-book .kg-bookmark-card .kg-bookmark-description {
    font-family: var(--font-serif) !important;
}

.tag-hash-not-book .kg-bookmark-card .kg-bookmark-metadata {
    display: none;
}

.tag-hash-not-book .kg-bookmark-card .kg-bookmark-thumbnail {
    width: 44%;
}

.tag-hash-not-book .kg-bookmark-card .kg-bookmark-thumbnail img {
    position: relative;
    height: auto;
    border-radius: 8px;
    transition: all .3s var(--ease-in-out-quad);
}

.tag-hash-not-book .kg-bookmark-card:hover .kg-bookmark-thumbnail img {
    box-shadow: var(--dreamy-shadow);
    transform: translateY(-4px);
}

/* sticky */

.kg-canvas .left-sidebar-container {
    bottom: 0;
    font-size: 1.4rem;
    grid-column: wide-start/main-start;
    grid-row-start: 1;
    margin: 0;
    padding: 0 3rem 0 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.sticky-wrapper {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 28px;
    padding-right: 24px;
    display: flex;
}

.gh-content a.sticky-wrapper {
    text-decoration: none;
}


.affiliate-book-title {
    display: none;
}

@media (max-width: 1028px) {
    .sticky-wrapper {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .kg-canvas .left-sidebar-container {
        grid-column: main-start/main-end;
        position: relative;
        padding: 0;
        grid-row-start: 2;
    }

    .sticky-wrapper {
        position: static;
        flex-direction: row;
        padding: 24px;
        background-color: var(--white-color);
        margin-top: 2.8rem;
        border-radius: 8px;
        height: 174px;
        overflow: hidden;
    }
    .content-button-group {
        width: 100%;
    }
    .gh-content .affiliate-book-title {
        display: -webkit-box;
        font-size: 2rem;
        margin-bottom: 2.4rem;
        overflow-y: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@media (max-width: 575px) {
    .tag-hash-not-book .kg-bookmark-card .kg-bookmark-title {
        font-size: 1.8rem;
    }
    .tag-hash-not-book .kg-bookmark-card .kg-bookmark-description {
        font-size: 1.6rem;
    }
}