.feed-header {
    margin-top: 6vmin;
    margin-bottom: 4.5rem;
}

.feed-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1.6rem;
    border-bottom: 2px solid var(--darker-gray-color);
}

.feed-header-title {
    margin-bottom: 0;
    font-size: 2rem;
}

.section-header {
    margin-top: 6vmin;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-header-wrapper {
    justify-content: space-between;
    padding-bottom: 1rem;
}

.section-header-title {
    margin-bottom: 8px;
    font-size: 4rem;
    letter-spacing: 0.05rem;
}

.section-header-subtitle {
    font-size: 1.8rem;
    color: var(--secondary-text-color);
}

.has-serif-body .section-header-subtitle {
    /* font-family: var(--font-serif); */
}

.has-serif-title .feed-header-title,
.has-serif-title .section-header-title {
    font-family: var(--font-serif);
}

.post-feed,
.content-feed {
    margin-top: -1.5rem;
}

.post-feed.expanded,
.content-feed.expanded {
    margin-top: -2.5rem;
}

.post-feed.text-only,
.content-feed.text-only {
    margin-top: -3rem;
}

.feed {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 2rem 0;
    line-height: 1;
}

.feed:hover .feed-title {
    opacity: 0.8;
}

.feed:hover .feed-right {
    margin-right: 1.6rem;
}

.post-feed.expanded .feed:hover .feed-right,
.content-feed.expanded .feed:hover .feed-right {
    margin-right: 0;
}

.feed:hover .feed-icon {
    transform: translateX(0.4rem);
}

.feed + .feed {
    border-top: 1px solid var(--divider-color);
}

.feed-card:hover .feed-image {
    box-shadow: var(--dreamy-shadow);
    transform: translateY(-3px);
}

.post-feed > .feed + .feed.feed-paged,
.content-feed > .feed + .feed.feed-paged {
    /* margin-top: 3rem;
    border-top: 0; */
}

.post-feed.expanded .feed,
.content-feed.expanded .feed {
    align-items: flex-start;
    padding: 3rem 0;
}

.post-feed.expanded:not(.text-only) .feed,
.content-feed.expanded:not(.text-only) .feed {
    padding: 2.5rem 0;
    border-top: 0;
}

.post-feed.right-thumbnail .feed,
.content-feed.right-thumbnail .feed {
    flex-direction: row-reverse;
}

.feed-calendar {
    display: flex;
    margin-right: 1.5rem;
    color: var(--brand-color);
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 800;
    white-space: nowrap;
    padding: 5px 0;
}

.post-feed.expanded .feed-calendar,
.content-feed.expanded .feed-calendar {
    display: none;
    /* order: 3;
    padding: 0; */
}

.feed-calendar-month {
    margin-right: 0.4rem;
    text-transform: uppercase;
}

.feed-image {
    flex-shrink: 0;
    margin-right: 2.5rem;
    width: 180px;
    overflow: hidden;
    border-radius: 8px;
    transition: all .2s var(--ease-in-out-quad);
}

.post-feed.right-thumbnail .feed-image,
.content-feed.right-thumbnail .feed-image {
    margin-right: 0;
    margin-left: 2.5rem;
}

.post-feed:not(.expanded) .feed-image,
.content-feed:not(.expanded) .feed-image {
    display: none;
}

.feed-wrapper {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

.post-feed.expanded .feed-wrapper,
.content-feed.expanded .feed-wrapper {
    flex-direction: column;
}

.post-feed.expanded:not(.text-only) .feed-wrapper,
.content-feed.expanded:not(.text-only) .feed-wrapper {
    margin-top: -2px;
}

.feed-title {
    flex-grow: 1;
    overflow: hidden;
    margin-bottom: 0;
    padding-right: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.post-feed.expanded .feed-title,
.content-feed.expanded .feed-title {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 700;
    white-space: normal;
}

.has-serif-title .feed-title,
.has-serif-title .card-title,
.has-serif-title .card-broweye {
    font-family: var(--font-serif);
}

.card-broweye {
    font-size: 1.8rem;
    opacity: .7;
    padding-bottom: 8px;
}

.card-horizontal-wrapper {
    display: grid;
    column-gap: 32px;
    row-gap: 56px;
    grid-template-columns: 30% 1fr;
    height: 620px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    margin-bottom: 5.6rem;
    position: sticky;
    top: 8px;
    left: 0;
    box-shadow: var(--box-shadow-dreamy);
    transition: all .3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
}

.card-horizontal-wrapper:hover {
    box-shadow: 0 54px 80px rgba(0,0,0,.07),0 19.7109px 29.2013px rgba(0,0,0,.0482987),0 9.56927px 14.1767px rgba(0,0,0,.0389404),0 4.69103px 6.94968px rgba(0,0,0,.0310596),0 1.85484px 2.74791px rgba(0,0,0,.0217013),0 0 0 1px rgba(0,0,0,.03);
}

.card-horizontal-wrapper:nth-child(2) {
    top: 12px;
}
.card-horizontal-wrapper:nth-child(3) {
    top: 16px;
}
.card-horizontal-wrapper:nth-child(4) {
    top: 20px;
}
.card-horizontal-wrapper:nth-child(5) {
    top: 24px;
}
.card-horizontal-wrapper:nth-child(6) {
    top: 28px;
}
.card-horizontal-wrapper:nth-child(7) {
    top: 32px;
}

.card-horizontal-wrapper .card-title {
    font-size: 4rem;
}

.tag-hash-dark-background .card-title {
    color: var(--white-color);
    opacity: .8;
}

.card-media {
    position: relative;
    overflow-y: hidden;
}

.feed-excerpt {
    margin-top: 1rem;
    line-height: 1.7;
    font-size: 1.6rem;
    color: var(--secondary-text-color);
}

.card-horizontal-wrapper .feed-excerpt {
    margin-top: 1rem;
    line-height: 1.5;
    font-size: 2rem;
}

.tag-hash-dark-background .feed-excerpt {
    color: var(--white-color);
    opacity: .5;
}

.has-serif-body .feed-excerpt {
    font-family: var(--font-serif);
}

.post-feed:not(.expanded) .feed-excerpt,
.content-feed:not(.expanded) .feed-excerpt {
    display: none;
}

.feed-right {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-size: 1.4rem;
    transition: margin-right 0.2s var(--animation-base);
}

/* .has-serif-body .feed-right {
    font-family: var(--font-serif);
} */

.post-feed.expanded .feed-right,
.content-feed.expanded .feed-right {
    margin-top: 1.5rem;
}

.side-project-feed .feed-right {
    display: none;
}

.feed-author-name {
    line-height: 1.7;
    font-size: 1.6rem;
}

.feed-author-name span {
    font-style: italic;
}

.post-feed:not(.expanded) .feed-date,
.content-feed:not(.expanded) .feed-date {
    display: none;
}

.feed-visibility,
.featured-visibility {
    margin-right: 1rem;
    color: var(--orange-color);
    line-height: 0;
}

.feed-visibility {
    color: var(--dark-gray-color);
}

.post-feed.expanded .feed-visibility,
.content-feed.expanded .feed-visibility {
    order: 1;
    margin-left: 1rem;
}

.feed-visibility-public,
.featured-visibility {
    display: none;
}

.feed-visibility .icon,
.star-it .icon {
    width: 16px;
    height: 16px;
}

.featured-visibility.star-it {
    display: inline-block;
}

.feed-length {
    white-space: nowrap;
}

.post-feed.expanded .feed-length,
.content-feed.expanded .feed-length {
    display: flex;
    align-items: center;
}

.post-feed.expanded .feed-length::before,
.content-feed.expanded .feed-length::before,
.card-wrapper .feed-length::before {
    content: "\02022";
    padding: 0 0.7rem;
    font-size: 1rem;
    line-height: 1;
}

.feed-icon {
    position: absolute;
    right: 0;
    color: var(--secondary-text-color);
    line-height: 0;
    transition: transform 0.2s var(--animation-base);
    transform: translateX(2rem);
}

.post-feed.expanded .feed-icon,
.content-feed.expanded .feed-icon {
    display: none;
}

.feed-icon .icon {
    width: 16px;
    height: 16px;
}

.feed-group::after {
    content: "";
    display: block;
    height: 4.5vmin;
}

.feed-month {
    position: sticky;
    top: 0;
    z-index: 30;
    margin: 0 -1.5rem;
    padding: 1rem 1.5rem;
    width: inherit;
    color: var(--darker-gray-color);
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
}

.feed-group:first-child .feed-month {
    display: none;
}

.section-wrapper {
    margin-bottom: 6rem;
}

.card-wrapper {
    position: relative;
}

.card-wrapper:hover .card-head-wrapper {
    box-shadow: var(--dreamy-shadow);
    transform: translateY(-4px);
}

.card-head-wrapper {
    transition: all .3s var(--ease-in-out-quad);
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.posts-expanded article:first-child hr {
    display: none;
}

.posts-expanded .single-header {
    margin: 12px 24px 0 0;
}

.card-wrapper.feed {
    display: block;
    border-top: none;
    padding: 0;
    transition: all 0.2s var(--ease-in-out-quad);
    position: relative;
}

.book-slider-inner .card-wrapper.feed:hover {
    transform: scale(1.07);
}

.card-wrapper.feed .u-placeholder,
.people-card .u-placeholder {
    background-color: var(--lighter-gray-color);
    border-radius: 12px;
}

.card-wrapper.feed .feed-excerpt,
.card-wrapper.feed .feed-date{
    display: block;
}

.card-wrapper .feed-excerpt {
    margin-bottom: 8px;
}

.card-text-wrapper {
    padding: 0 0 0 6rem;
    align-self: center;
}

.people-recommend-list {
    margin: 4.8rem 0 3.2rem 0;
}

.people-card {
    margin-bottom: 1.6rem;
}

.card-title {
    text-align: left;
    margin: 16px 0 4px 0;
    font-size: 2.2rem;
    font-weight: 600;
}

.related-content .card-title {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 12px;
}

.has-serif-title .card-title {
    font-family: var(--font-serif);
}


.card-small-text {
    font-size: 1.6rem;
    text-align: center;
    font-style: italic;
}

.has-serif-body .card-small-text {
    font-family: var(--font-serif);
}

/* Archive page */
.post-date-2014+.post-date-2014 .archive-post-label, .post-year-2015+.post-year-2015 .archive-post-label, .post-year-2016+.post-year-2016 .archive-post-label, .post-year-2017+.post-year-2017 .archive-post-label, .post-year-2018+.post-year-2018 .archive-post-label, .post-year-2019+.post-year-2019 .archive-post-label, .post-year-2020+.post-year-2020 .archive-post-label, .post-year-2021+.post-year-2021 .archive-post-label, .post-year-2022+.post-year-2022 .archive-post-label, .post-year-2023+.post-year-2023 .archive-post-label, .post-year-2024+.post-year-2024 .archive-post-label, .post-year-2025+.post-year-2025 .archive-post-label {
    display: none;
}

@media (max-width: 767px) {
    .card-horizontal-wrapper {
        grid-template-columns: 1fr;
        height: 700px;
        row-gap: 0;
    }

    .card-horizontal-wrapper .card-text-wrapper {
        padding: 3rem;
    }

    .card-horizontal-wrapper .card-title {
        font-size: 3.2rem;
    }

    .card-horizontal-wrapper .feed-excerpt {
        display: none;
    }

    .card-horizontal-wrapper .card-media {
        height: 40rem;
        overflow-y: initial;
    }

    .card-horizontal-wrapper .u-object-fit-free {
        /* position: relative; */
    }

}

@media (max-width: 575px) {

    .feed-length {
        display: none;
    }
    .post-feed.expanded .feed-title,
    .content-feed.expanded .feed-title {
        font-size: 2.2rem;
    }

    .posts-expanded .kg-width-left-sidebar {
        grid-column: main-start/main-end;
    }

    .posts-expanded .single-header {
        margin-bottom: 0;
    }

    .card-title {
        font-size: 1.6rem;
    }

}
