.share {
    display: flex;
    flex-wrap: wrap;
}

.share-link {
    display: flex;
    align-items: center;
    margin: 0.6rem;
    padding: 8px 12px;
    color: var(--dark-gray-color);
    font-size: 1.6rem;
    line-height: 0;
    font-weight: 800;
    letter-spacing: 0.04rem;
    border-radius: 8px;
    border: 1px solid var(--mid-gray-color);
}

.share-link .icon {
    margin-right: 0.8rem;
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.share-link .icon-facebook {
    margin-right: 0.2rem;
    margin-left: -0.3rem;
}

.share-link-facebook {
    /* color: var(--facebook-color); */
}

.share-link-twitter {
    /* color: var(--twitter-color); */
}
