.single-header {
    margin-bottom: 6rem;
    /* text-align: center; */
}

.single-header-narrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;
    align-items: center;
    border-bottom: var(--border-separator);
    padding-bottom: 8rem;
    margin-bottom: 4rem;
}

.single-header-full-half {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    grid-gap: 48px;
    padding-bottom: 8rem;
    margin-bottom: 4rem;
}

/* .single-header-full-half .single-media {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 60%;
    height: 100%;
    overflow: hidden;
} */

.single-meta {
    margin-bottom: 2rem;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.single-text-wrapper-book {
    padding: 40px 0;
    background-color: var(--white-color);
    box-shadow: 0px -6px 16px -13px rgba(0, 0, 0, 0.26);
    margin-top: -140px;
    z-index: 1;
    position: relative;
}

.single-text-wrapper-book .single-meta,
.single-text-wrapper-book .single-title,
.single-text-wrapper-book .single-excerpt {
    text-align: center;
}

.single-meta-item + .single-meta-item::before {
    content: "\02022";
    padding: 0 0.3rem;
    font-family: serif;
}

.single-title {
    margin-bottom: 0;
    /* font-size: 4vmin; */
    font-size: 5rem;
    line-height: 1.25;
    letter-spacing: -0.1rem;
    text-align: left;
}

.has-serif-title .single-title {
    font-family: var(--font-serif);
}

.single-excerpt {
    font-size: 2.6rem;
    color: var(--dark-gray-color);
    line-height: 1.5;
    text-align: left;
    margin: 2.4rem auto 0;
}

.single-text-wrapper-book .single-excerpt {
    max-width: 700px;
}

.has-serif-body .single-excerpt {
    font-family: var(--font-serif);
}

.single-media {
    margin-top: 4.5rem;
    margin-bottom: 0;
}

.single-media-wrap-book {
    padding-top: calc(8vmin + var(--navbar-height));
    margin-top: calc(-8vmin - var(--navbar-height));
    background-color: #A7EAC0;
}

.single-media-book {
    max-width: 400px;
    margin: 0 auto;
}

.single-media.kg-width-narrow {
    margin-top: 0;
}

.single-media img,
.single-media-book img {
    width: 100%;
    border-radius: 12px;
}

.single-media-book img {
    filter: drop-shadow(89px -100px 53px rgba(0, 0, 0, 0.02)) drop-shadow(50px -56px 45px rgba(0, 0, 0, 0.05)) drop-shadow(22px -25px 33px rgba(0, 0, 0, 0.09)) drop-shadow(6px -6px 18px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}

.single-text-wrapper-book {
    /* display: grid; */
    width: 100%;
    align-items: center;
}

.single-cta {
    margin-top: 4rem !important;
    padding: 4rem 6rem;
    text-align: center;
    background-color: var(--brand-color);
    /* border-radius: 6px; */
    color: var(--dark-gray-color);
}

.single-cta .button-text {
    color: var(--dark-gray-color);
}

.single-cta-title {
    color: var(--darker-gray-color);
    margin: 0 0 1rem;
}

.has-serif-title .single-cta-title {
    font-family: var(--font-serif);
}

.single-cta-desc {
    margin: 0 0 3rem !important;
}

.has-serif-body .single-cta-desc {
    font-family: var(--font-serif);
}

.single-cta-button {
    margin-bottom: 1rem;
    font-weight: 800 !important;
    font-size: 1.4rem;
}

.single-cta-footer {
    font-size: 1.4rem;
    font-weight: 400 !important;
    letter-spacing: -0.02rem;
}

.single-footer {
    display: flex;
    align-items: center;
    margin-top: 4.5rem;
}

.single-footer-left,
.single-footer-right {
    flex: 2;
    display: flex;
}

.single-footer-right {
    justify-content: flex-end;
}

.single-footer-middle {
    display: flex;
    flex-direction: column;
}

.single-footer-top {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 40px;
}

.single-footer-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.single-footer-top + .single-footer-bottom {
    margin-top: 2rem;
}

.single-content-subscription {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 32px;
    margin-top: 80px;
}

.single-content-subscription::after {
    content: " ";
    position: absolute;
    top: 0 ;
    left: calc(50% - 50px);
    height: 1px;
    width: 100px;
    background-color: var(--primary-text-color);
}

.single-content-subscription-title {
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 2rem;
}

.has-serif-title .single-content-subscription-title {
    font-family: var(--font-serif);
}

@media (max-width: 767px) {
    .single-header {
        margin-bottom: 3rem;
    }

    .single-title {
        font-size: 4rem;
    }

    .single-excerpt {
        font-size: 2.5rem;
    }

    .single-media {
        margin-top: 3rem;
    }
    
    .single-header-narrow {
        grid-template-columns: 1fr;
    }

    .single-media-book {
        max-width: 300px;
    }

    .single-text-wrapper-book {
        margin-top: -80px;
    }
}
