.taxonomy {
    margin-bottom: 4vmin;
}

.tag-wrapper {
    position: relative;
    z-index: 10;
    /* margin-top: -90px; */
}

.taxonomy-media {
    overflow: hidden;
    margin: 0 auto 3rem;
    width: 230px;
    border-radius: 8px;
}

.tag-wrapper .single-title,
.tag-wrapper .single-excerpt {
    text-align: center;
}

.tag-list-container {
    margin-top: 6rem;
    padding-top: 6rem;
    font-weight: 400;
    font-size: 2rem;
    border-top: var(--border-separator);
}

.tag-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: stretch;
    column-gap: 8px;
    row-gap: 8px;
}

.tag-list-label {
    margin-bottom: 2rem;
    color: var(--secondary-text-color);
}

.tag-list-item-wrapper {
    padding: 24px 8px 40px 8px;
    background-color: var(--lighter-gray-color);
    border-radius: 4px;
    display: grid;
    justify-items: center;
    font-size: .9em;
}

.tag-list-item-wrapper:hover {
    /* background-color: var(--lighter-gray-color); */
}

.tag-list-item {
    display: block;
    writing-mode: vertical-lr;
}

.tag-list-item-count {
    writing-mode: horizontal-tb;
    color: var(--brand-color);
    font-size: 2rem;
}

/* .has-serif-body .tag-list-item-count {
    font-family: var(--font-serif);
} */

.tag-list-item + .tag-list-item {
    margin-left: 1rem;
}

/* Card stack */
.card-stack-wrapper {
    position: relative;
    margin: 0 40px;
}

.card-stack-wrapper-inner {
    position: relative;
    transition: transform .2s var(--ease-in-out-quad);
    padding-bottom: 150%; 
    margin-bottom: 56px;
}

.card-stack-wrapper:hover .card-stack-wrapper-inner {
    transform: scale(.96);
}

.stack-text-wrap {
    margin: 40px 0 24px;
}

.card-stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    transition: transform .2s var(--ease-in-out-quad);
}

.card-stack {
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.card-stack:nth-child(1) {
    z-index: 11; /* First card is on top */
}

.card-stack-wrapper:hover .card-stack:nth-child(1) {
    transform: rotate(-2deg);
}

.card-stack:nth-child(2) {
    transform: rotate(-4deg);
}

.card-stack-wrapper:hover .card-stack:nth-child(2) {
    transform: rotate(-8deg);
}

.card-stack:nth-child(3) {
    transform: rotate(4deg);
}

.card-stack-wrapper:hover .card-stack:nth-child(3) {
    transform: rotate(8deg);
}

@media (max-width: 767px) {
    .tag-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .card-stack-wrapper {
        position: relative;
        margin: 0 24px;
    }
}