.toc-sidebar {
    position: relative;
}

.toc-container {
    grid-column: main-start/main-end;
    margin: 4vmin 0 0;
    padding: 32px 40px;
    position: static;
    background-color: var(--lighter-gray-color);
    border-radius: 8px;
}

.toc-container.toc-native {
    margin-top: 0;
}

.tag-portfolios .toc-sidebar {
    background: #fff;
    /* box-shadow: 0 10px 50px rgb(25 37 52/14%),0 2px 5px rgb(25 37 52/3%); */
    overflow-y: scroll;
    padding: 30px;
    width: 100%;
}

.toc-sidebar h4 {
    font-size: 2.4rem;
    font-weight: 400;
    font-variant: petite-caps;
}

.toc-sidebar h2 {
    font-size: 2.4rem;
    font-weight: 600;
}

.toc {
    align-self: stretch;
    overflow-y: scroll;
    padding: 1px 0 0;
}

.toc > .toc-list {
    padding-left: 0;
    box-shadow: inset 2px 0 0 var(--light-gray-color);
}

.toc-list {
    list-style-type: none;
}

.toc-list-item {
    /* font-size: 1.4rem; */
    padding-left: 24px;
    margin: 8px 0;
    transition: all .2s ease-in-out;
}


.gh-content li+li {
    margin-top: 0;
}

.toc-list-item.is-active-li {
    box-shadow: inset 2px 0 0 var(--brand-color);
}

.toc-list-item.is-active-li a {
    color: var(--brand-color);
}

.toc-list-item a {
    text-decoration: none;
    color: var(--dark-gray-color);
}

@media (max-width: 1190px) {

    .kg-canvas .toc-container {
        grid-column: main-start/main-end;
        position: static;
    }
}

@media (max-width: 767px) {
    .toc-container {
        padding: 32px 24px 8px;
    }
}
